<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Project name</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> Username
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <%= nav_li "Home", root_path %>
          <%= nav_li "About", home_about_path %>
          <%= nav_li "Contact", home_contact_path %>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <%= nav_li "Home", root_path %>
          <%= nav_li "About", home_about_path %>
          <%= nav_li "Contact", home_contact_path %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>